button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 393px;
    min-height: 800px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--white);
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}